* {
  text-align: center;
  justify-content: center;
}

body {
background-color: rgb(32, 30, 30);
}

.title {
background: -webkit-linear-gradient(rgba(250, 8, 8, 0.801), rgb(180, 180, 16));
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 60px;
font-stretch: extra-expanded;
font-weight: 1em;
font-family: fantasy;
}

.start {
background: -webkit-linear-gradient(rgba(250, 8, 8, 0.801), rgb(180, 180, 16));
color: white;
padding: 6px;
text-align: center;
cursor: pointer;
user-select: none;
font-size: 0.8rem;
height: 40px;
margin: 5px 0;
border: 3px solid rgba(250, 8, 8, 0.801);
box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
border-radius: 10px;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
width: 10%;
}

.score {
background: -webkit-linear-gradient(rgba(250, 8, 8, 0.801), rgb(180, 180, 16));
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
font-family: fantasy;
font-size: 30px;
}

.next {
background: -webkit-linear-gradient(rgba(250, 8, 8, 0.801), rgb(180, 180, 16));
color: white;
padding: 6px;
text-align: center;
cursor: pointer;
user-select: none;
font-size: 2rem;
height: 10%;
margin: 5px 0;
border: 3px solid rgba(250, 8, 8, 0.801);
box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
border-radius: 10px;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
width: 10%;
}
